body {
    background-image: url(https://cdn.theatlantic.com/thumbor/EmW-E0FwUa0MhOoGk0BXYyBiBm0=/0x0:1718x1718/1718x1718/media/files/est/space-calculator/background6.jpg);
    margin: 0;
}

h1 {
    color: rgb(141, 196, 233);
    text-align: center;
}

p {
    color: rgb(141, 196, 233);
}

table {
    color: rgb(141, 196, 233);
    border: 2px solid rgb(226, 175, 128);
    padding: 3px;
    margin: auto 44%;
}

a {
    color: #f5a328;
}
th, td{
    border: 2px solid rgb(226, 175, 128);
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}
article {
    background-image: url(https://static.turbosquid.com/Preview/2013/06/18__16_28_10/walltexture.jpgf8e1ee5c-aa56-40f9-986a-a583fbad830bLarge.jpg) ;
    margin: 9%;
    text-align: center;
}
article p{
    font-size: x-large;
    color: blue;
}
article img{
    max-width: 20%;
    text-wrap: wrap;
  }
  footer {
    margin: auto 44%;
    background-image: url(https://static.turbosquid.com/Preview/2013/06/18__16_28_10/walltexture.jpgf8e1ee5c-aa56-40f9-986a-a583fbad830bLarge.jpg) ;
  }
  header {
    padding: 19px;
    background-image: url(https://static.turbosquid.com/Preview/2013/06/18__16_28_10/walltexture.jpgf8e1ee5c-aa56-40f9-986a-a583fbad830bLarge.jpg) ;
    margin: 9%;
}
nav {
    background-color: grey;
    padding: 1px;
}
nav ul li{
    border: #f5a328 dashed;
}